body{
    
    background-color: rgb(121, 85, 42);
}
h1{
    font-size:40px;
    margin: 50px;
    border: 14px dotted snow;
}

body{
    font-style: italic;
}
p{
    font-family: Arial;
}
 img{
    width: 400px;;
    height: 400px;
    margin: 25px;
 }
 a
 {
    color: orange;
 }
 